# Notebook

## Introduction ##

In [ ]:
# Data Science Language

1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java
7. C++

In [ ]:
#Data science libraries

1. Numpy
2. Pandas
3. Seaborn
4. metplotlib
5. scikitlearn
6. ggplot
7. caret
8. stringr
9. dplyr

In [ ]:
#Table of data science tool

|Language|Libraries|Data management tools|Data visualisation|Model deployemnt|Model monitoring|
|-----|-----|------|---------------|---------------|-------------|
|Python|Numpy|MySQL|kibana|Seldon|IBM explainability 360|
|Pythonlite|Pandas|MangoDB|Pixie Dust|Tensorflow|IBM fairness 360|
|R|scielearn|Hadoop|Apache superset|kubernetes|IBM Robustness|
|C++|Tensorflow|PostgreSQL|Power BI|Mleap|Promotheus|
|Java|regression|Ceph|Tableua|Tensorflowlite|Spark|

In [ ]:
# Arethmetic expression
 
+ First expression
+ Second expression
+ Third expression
+ Fourth expression

- First expression
- Second expression
- Third expression
- Fourth expression

* First expression
* Second expression
* Third expression
* Fourth expression

1. First expression
2. Second expression
3. Third expression
4. Fourth expression

In [1]:
 # multiplaction and addition cell
2*2+2

6

In [ ]:
# convert minutes to hours

In [37]:
time = float(input(" time in minutes: "))

 time in minutes: 180

In [43]:
hours = time // 60

In [44]:
hours

3.0

In [ ]:
# List of objectives

1. Understand the basics of SQL
2. Understand the basics of Python
3. Understand the language to use depending on the problem to solve
4. Able to tell a story from a data through utilisation of visualisation tools
5. Become proficient in data analytics and use of computational tools

In [ ]:
# Author

Joseph Khoza

In [ ]:
# Github